.home-page-container{
    /* background image for home page */

    background-image:url("/public/IMAGES/home-page-background.jpeg");
    background-size: cover;
    background-position: center;
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home-page-header{
    width: 100%;
    height: 20%;
    
    padding: 40px;
    color: rgb(24, 167, 24);
    text-align: center;
    background-color: rgba(212, 253, 183, 0.783)
    /* background: linear-gradient(
    to bottom,
    rgba(240, 248, 255, 0.983),   /* darker at the top */
    /* rgba(240, 248, 255, 0)    /* lighter at the bottom */
}

.home-page-header h1{
    font-size: 80px;
    color: green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.home-page-header h3{
    font-size: 40px ;
}

.home-page-lower-container{
    
    display: flex;
    gap: 16vh;
    margin-top: 40vh;
}

.home-page-lower-container div{
    background-color: rgba(212, 253, 183, 0.783);
    padding: 20px;
    height: 25vh;
    text-align: center;
    width: 40vh;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-page-lower-container div h4{
    font-weight: 650;
    font-size: 35px;
    color: green;
    margin-bottom: 10px;
}
.home-page-lower-container div p{
    padding: 10px;
    font-size:20px;
}

#beejnex-logo{
    height: 80px;
    width: 80px;
}

.home-getstarted-container{
    padding-top:40px;
}
.home-getstarted-container button{
    border: 4px green solid;
    border-radius: 15px;    
    font-size: 20px;
    color: green;
    background-color: rgb(175, 224, 175);
    padding: 15px;
}
.home-getstarted-container button:hover{
    background-color: rgb(24, 167, 24);
    color: white;
    cursor: pointer;
}

@media  (max-width: 768px) {
    .home-page-header h1{
        font-size: 50px;
    }

    .home-page-header h3{
        font-size: 20px ;
    }
    #beejnex-logo{
    height: 60px;
    width: 60px;
    }
    .home-page-lower-container{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        gap:10vh;
        padding-bottom:50px;
    }

    .home-page-lower-container div{
        padding: 20px;
        gap:1vh;
        height: 60vh;
        width: 40vh;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .home-page-lower-container div h4{
        font-weight: 650;
        font-size: 35px;
        color: green;
        margin-bottom: 10px;
    }
    .home-page-lower-container div p{
        padding: 10px;
        font-size:20px;
        overflow: scroll;
    }
    .home-getstarted-container button{
        font-size: 15px;
        padding: 10px;
    }


}
    
